:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Bozon;
}

@font-face {
  font-family: Bozon;
  src: url(../fonts/Bozon-Regular.otf);
}

@font-face {
  font-family: Bozon bold;
  src: url(../fonts/Bozon-Bold.otf);
}

@font-face {
  font-family: Bozon book;
  src: url(../fonts/Bozon-Book.otf);
}

.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section.information {
  width: 100%;
  background-color: #a77676;
}

section.information div.information_wrapper {
  max-width: 1300px;
  margin: 0 auto;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.information div.information_wrapper span {
  margin: 0 100px;
  line-height: 30px;
  font-size: 15px;
  color: white;
}

section.information div.information_wrapper span span {
  color: white;
  font-size: 40px;
}

nav.main_nav {
  width: 100%;
  background-color: #fff;
  border-bottom: 0.1px solid rgba(220, 220, 220, 0.9);
  z-index: 100;
}

nav.main_nav div.main_nav_wrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.main_nav div.main_nav_wrapper div.logo {
  margin: 20px;
}

nav.main_nav div.main_nav_wrapper div.logo span {
  font-size: 50px;
  color: #252422;
  font-family: 'Yeseva One', cursive;
}

nav.main_nav div.main_nav_wrapper ul {
  width: 70%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.main_nav div.main_nav_wrapper ul li:nth-child(1) a {
  color: #EB5E28;
}

nav.main_nav div.main_nav_wrapper ul li a {
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #252422;
  -webkit-transition: .2s;
  transition: .2s;
}

nav.main_nav div.main_nav_wrapper ul li a:hover, nav.main_nav div.main_nav_wrapper ul li a:active {
  color: #EB5E28;
}

header.main_header {
  width: 100%;
  height: 80vh;
  background-color: #252422;
}

header.main_header div.main_header_wrapper {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

header.main_header div.main_header_wrapper div.border {
  position: absolute;
  top: 10%;
  right: 3%;
  height: 80%;
  width: 60%;
  border: 2px solid white;
}

header.main_header div.main_header_wrapper div.border div.img-holder {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 100%;
  width: 100%;
  background-image: url(../gallery/podjazd1-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header.main_header div.main_header_wrapper h1.name_last_work {
  font-family: Bozon bold;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ccc5b9;
  font-size: 60px;
  line-height: 1.8;
  text-shadow: 3px 3px 5px #222;
}

header.main_header div.main_header_wrapper h2.date_last_work {
  font-family: Bozon book;
  position: absolute;
  top: 14%;
  left: 5%;
  width: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
}

header.main_header div.main_header_wrapper div.button_holder {
  position: absolute;
  bottom: 7%;
  left: 5%;
  width: 30%;
  text-align: center;
}

header.main_header div.main_header_wrapper div.button_holder button.browse_gallery {
  width: 220px;
  height: 60px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #EB5E28;
}

header.main_header div.main_header_wrapper div.button_holder button.browse_gallery:hover, header.main_header div.main_header_wrapper div.button_holder button.browse_gallery:active {
  background-color: #b44e20;
}

header.main_header div.main_header_wrapper div.button_holder button.browse_gallery a {
  font-family: Bozon book;
  display: block;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
}
/*# sourceMappingURL=style.css.map */