:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Bozon;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: Bozon;
  src: url(../fonts/Bozon-Regular.otf);
}

@font-face {
  font-family: Bozon bold;
  src: url(../fonts/Bozon-Bold.otf);
}

@font-face {
  font-family: Bozon book;
  src: url(../fonts/Bozon-Book.otf);
}

@font-face {
  font-family: Bozon-black;
  src: url(../fonts/Bozon-Black.otf);
}

.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section.information {
  width: 100%;
  background-color: #a77676;
}

section.information div.information_wrapper {
  max-width: 1300px;
  margin: 0 auto;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.information div.information_wrapper span {
  line-height: 30px;
  font-size: 15px;
  color: white;
}

@media (max-width: 1100px) {
  section.information div.information_wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.information div.information_wrapper span {
    margin: 0 10px;
    font-size: 1.3rem;
  }
}

nav.main_nav {
  width: 100%;
  background-color: #fff;
  border-bottom: 0.1px solid rgba(220, 220, 220, 0.9);
  z-index: 100;
}

nav.main_nav div.main_nav_wrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.main_nav div.main_nav_wrapper div.logo {
  margin: 20px;
}

nav.main_nav div.main_nav_wrapper div.logo a {
  text-decoration: none;
}

nav.main_nav div.main_nav_wrapper div.logo a span {
  font-size: 50px;
  color: #252422;
  font-family: 'Yeseva One', cursive;
  text-decoration: none;
}

nav.main_nav div.main_nav_wrapper button.hamburger {
  display: none;
}

nav.main_nav div.main_nav_wrapper button.hamburger.show_button {
  display: block;
}

nav.main_nav div.main_nav_wrapper ul {
  width: 70%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav.main_nav div.main_nav_wrapper ul.unshow_ul {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav.main_nav div.main_nav_wrapper ul li:nth-child(1) a {
  color: #EB5E28;
}

nav.main_nav div.main_nav_wrapper ul li a {
  position: relative;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #252422;
  -webkit-transition: .2s;
  transition: .2s;
}

nav.main_nav div.main_nav_wrapper ul li a:hover, nav.main_nav div.main_nav_wrapper ul li a:active {
  color: #EB5E28;
}

@media (max-width: 1100px) {
  nav.main_nav div.main_nav_wrapper div.logo a span {
    font-size: 45px;
  }
  nav.main_nav div.main_nav_wrapper ul {
    width: 60%;
  }
  nav.main_nav div.main_nav_wrapper ul a {
    font-size: 16px;
  }
}

header.main_header {
  width: 100%;
  height: 90vh;
  background-color: #252422;
}

header.main_header div.main_header_wrapper {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

header.main_header div.main_header_wrapper div.border {
  position: absolute;
  top: 10%;
  right: 3%;
  height: 80%;
  width: 60%;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

header.main_header div.main_header_wrapper div.border div.img-holder {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 100%;
  width: 100%;
  background-image: url(../gallery/podjazd1-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

header.main_header div.main_header_wrapper h1.name_last_work {
  font-family: Bozon bold;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  font-size: 60px;
  line-height: 1.8;
  text-shadow: 3px 3px 5px #222;
}

header.main_header div.main_header_wrapper h2.date_last_work {
  font-family: Bozon book;
  position: absolute;
  top: 14%;
  left: 5%;
  width: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
}

header.main_header div.main_header_wrapper div.button_holder {
  position: absolute;
  bottom: 7%;
  left: 5%;
  width: 30%;
  text-align: center;
}

header.main_header div.main_header_wrapper div.button_holder button.browse_gallery {
  width: 220px;
  height: 60px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #EB5E28;
  cursor: pointer;
}

header.main_header div.main_header_wrapper div.button_holder button.browse_gallery:hover, header.main_header div.main_header_wrapper div.button_holder button.browse_gallery:active {
  background-color: #b44e20;
}

header.main_header div.main_header_wrapper div.button_holder button.browse_gallery a {
  font-family: Bozon book;
  display: block;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
}

@media (max-width: 900px) {
  header.main_header div.main_header_wrapper h1.name_last_work {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  header.main_header {
    height: 75vh;
    padding-bottom: 7%;
  }
  header.main_header div.main_header_wrapper div.border {
    position: absolute;
    top: 10%;
    right: 3%;
    height: 80%;
    width: 50%;
    border: 2px solid rgba(255, 255, 255, 0.4);
  }
  header.main_header div.main_header_wrapper div.border div.img-holder {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 100%;
    width: 100%;
    background-image: url(../gallery/podjazd1-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
  }
  header.main_header div.main_header_wrapper div.button_holder {
    bottom: 0%;
  }
}

section.little_about {
  width: 100%;
  min-height: 90vh;
  background-color: #fffcf2;
}

section.little_about div.little_about_wrapper {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.little_about div.little_about_wrapper > * {
  width: 40%;
  height: 80%;
}

section.little_about div.little_about_wrapper header.section_content p {
  font-family: Bozon book;
  line-height: 2;
  font-size: 80px;
  color: #252422;
}

section.little_about div.little_about_experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.little_about div.little_about_experience span {
  background-image: url(../img/welding-67640_640.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Bozon-black;
  display: block;
  text-align: center;
  font-size: 450px;
  line-height: .9;
  letter-spacing: 5px;
  color: transparent;
}

section.little_about div.little_about_experience span span {
  font-family: Bozon bold;
  text-align: center;
  font-size: 40px;
  text-align: center;
  color: #fffcf2;
}

section.little_about button.browse_about {
  margin-top: 50px;
  width: 320px;
  height: 60px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #EB5E28;
  cursor: pointer;
}

section.little_about button.browse_about:hover, section.little_about button.browse_about:active {
  background-color: #b44e20;
}

section.little_about button.browse_about a {
  font-family: Bozon book;
  display: block;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
}

@media (max-width: 1100px) {
  section.little_about {
    min-height: 75vh;
    padding-bottom: 10%;
  }
  section.little_about div.little_about_wrapper header.section_content p {
    line-height: 2.5;
    font-size: 65px;
  }
  section.little_about div.little_about_experience span {
    font-size: 400px;
  }
  section.little_about div.little_about_experience span span {
    font-size: 38px;
  }
}

@media (max-width: 900px) {
  section.little_about {
    min-height: 70vh;
  }
  section.little_about div.little_about_wrapper header.section_content p {
    font-size: 55px;
  }
  section.little_about div.little_about_experience span {
    font-size: 300px;
  }
  section.little_about div.little_about_experience span span {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  section.little_about {
    min-height: 60vh;
  }
  section.little_about div.little_about_wrapper header.section_content p {
    font-size: 45px;
  }
  section.little_about div.little_about_experience span {
    font-size: 220px;
  }
  section.little_about div.little_about_experience span span {
    font-size: 30px;
  }
}

section.little_gallery {
  height: 100vh;
  background-color: #252422;
}

section.little_gallery div.little_gallery_img_wrapper {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}

section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img {
  margin-top: 5vh;
  position: relative;
  width: 30%;
  height: 50vh;
  overflow: hidden;
  border-radius: 15px;
}

section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img:nth-child(1), section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img:nth-child(3) {
  height: 70vh;
}

section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img img {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 1s;
  transition: 1s;
}

section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img img:nth-child(2) {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: little_gallery_img_toggler 10s linear infinite;
          animation: little_gallery_img_toggler 10s linear infinite;
}

section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img img:hover {
  width: 180%;
}

section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img:nth-child(2) img {
  width: 180%;
}

section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img:nth-child(2) img:hover {
  width: 210%;
}

section.little_gallery div.little_gallery_img_wrapper button.little_gallery_button {
  height: 100px;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 320px;
  height: 60px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #EB5E28;
  cursor: pointer;
}

section.little_gallery div.little_gallery_img_wrapper button.little_gallery_button:hover, section.little_gallery div.little_gallery_img_wrapper button.little_gallery_button:active {
  background-color: #b44e20;
}

section.little_gallery div.little_gallery_img_wrapper button.little_gallery_button a {
  font-family: Bozon book;
  display: block;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
}

@-webkit-keyframes little_gallery_img_toggler {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  45% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes little_gallery_img_toggler {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  45% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 1100px) {
  section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img:nth-child(2) img {
    width: 280%;
  }
  section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img:nth-child(2) img:hover {
    width: 310%;
  }
  section.little_gallery div.little_gallery_img_wrapper button.little_gallery_button {
    bottom: 24vh;
    width: 220px;
  }
  section.little_gallery div.little_gallery_img_wrapper button.little_gallery_button:hover, section.little_gallery div.little_gallery_img_wrapper button.little_gallery_button:active {
    background-color: #b44e20;
  }
}

@media (max-width: 900px) {
  section.little_gallery {
    height: 90vh;
  }
  section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img {
    width: 29%;
    height: 40vh;
    border-radius: 30px;
  }
  section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img:nth-child(1), section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img:nth-child(3) {
    height: 60vh;
  }
  section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img img {
    width: 200%;
  }
  section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img img:hover {
    width: 230%;
  }
  section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img:nth-child(2) img {
    width: 180%;
  }
  section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img:nth-child(2) img:hover {
    width: 210%;
  }
}

@media (max-width: 768px) {
  section.little_gallery {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    min-height: 80vh;
  }
  section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img {
    width: 29%;
    height: 40vh;
    border-radius: 30px;
  }
  section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img:nth-child(1), section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img:nth-child(3) {
    height: 60vh;
  }
  section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img img {
    width: 200%;
  }
  section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img img:hover {
    width: 230%;
  }
  section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img:nth-child(2) img {
    width: 250%;
  }
  section.little_gallery div.little_gallery_img_wrapper div.little_gallery_img:nth-child(2) img:hover {
    width: 280%;
  }
  section.little_gallery div.little_gallery_img_wrapper button.little_gallery_button {
    bottom: 15vh;
    width: 220px;
  }
}

section.little_services {
  width: 100%;
  min-height: 90vh;
  background-color: #fffcf2;
}

section.little_services div.little_services_wrapper {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow-x: hidden;
}

section.little_services div.little_services_wrapper > * {
  width: 40%;
  height: 80%;
}

section.little_services div.little_services_wrapper header.services_content p {
  padding-left: 20px;
  font-family: Bozon book;
  line-height: 2.3;
  font-size: 80px;
  color: #252422;
}

section.little_services div.little_services_wrapper header.services_content p.wide_word {
  width: 150%;
}

section.little_services div.little_services_wrapper div.little_services_experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.little_services div.little_services_wrapper div.little_services_experience span {
  background-image: url(../img/worker-5736096_1920.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Bozon-black;
  display: block;
  text-align: center;
  font-size: 100px;
  line-height: 1;
  letter-spacing: 5px;
  color: transparent;
}

section.little_services div.little_services_wrapper div.little_services_experience span span.bigger {
  font-size: 1.6em;
  letter-spacing: normal;
}

section.little_services div.little_services_wrapper button.browse_about {
  margin-top: 50px;
  width: 320px;
  height: 60px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #EB5E28;
  cursor: pointer;
}

section.little_services div.little_services_wrapper button.browse_about:hover, section.little_services div.little_services_wrapper button.browse_about:active {
  background-color: #b44e20;
}

section.little_services div.little_services_wrapper button.browse_about a {
  font-family: Bozon book;
  display: block;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
}

@media (max-width: 1100px) {
  section.little_services {
    min-height: 75vh;
  }
  section.little_services div.little_services_wrapper header.services_content p {
    font-size: 65px;
  }
  section.little_services div.little_services_wrapper div.little_services_experience span {
    font-size: 80px;
  }
}

@media (max-width: 900px) {
  section.little_services {
    min-height: 70vh;
  }
  section.little_services div.little_services_wrapper header.services_content p {
    font-size: 55px;
  }
  section.little_services div.little_services_wrapper div.little_services_experience span {
    font-size: 70px;
  }
}

@media (max-width: 768px) {
  section.little_services {
    min-height: 70vh;
    padding-bottom: 10%;
  }
  section.little_services div.little_services_wrapper header.services_content p {
    font-size: 45px;
  }
  section.little_services div.little_services_wrapper div.little_services_experience span {
    font-size: 55px;
  }
}

footer {
  width: 100%;
  height: 35vh;
  background-color: #ccc5b9;
}

footer div.footer_wrapper {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer div.footer_wrapper > * {
  width: 35%;
  color: #403d39;
}

footer div.footer_wrapper div {
  height: 80%;
  border-radius: 20px;
  text-align: center;
}

footer div.footer_wrapper div.firm_data {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer div.footer_wrapper div.firm_data p {
  font-size: 1.8rem;
}

footer div.footer_wrapper div.firm_data p.firm_name {
  font-family: Bozon bold;
}

footer div.footer_wrapper div.firm_data button.google_maps {
  width: 200px;
  height: 45px;
  cursor: pointer;
  border: 2px solid #403d39;
  border-radius: 5px;
  background-color: #403d39;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer div.footer_wrapper div.firm_data button.google_maps:hover {
  background-color: #57534e;
  border-color: #57534e;
}

footer div.footer_wrapper div.firm_data button.google_maps a {
  font-family: Bozon;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ccc5b9;
}

footer div.footer_wrapper div.separator {
  height: 80%;
  width: 1px;
  background-color: #403d39;
  -ms-grid-column-align: center;
      justify-self: center;
}

footer div.footer_wrapper div.contact_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer div.footer_wrapper div.contact_data p {
  font-family: Bozon bold;
  font-size: 1.8rem;
  line-height: 2;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

footer div.footer_wrapper p.real_footer {
  position: relative;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-family: Bozon;
  color: #403d39;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
}

footer div.footer_wrapper p.real_footer::before {
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background-color: #403d39;
}

footer div.footer_wrapper p.real_footer a {
  font-family: Bozon;
  color: #403d39;
  font-size: 1.5rem;
}

header.about_header {
  height: 40vh;
  background-image: url(../img/railing-3855288_1280.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

header.about_header div.where_are_you {
  position: absolute;
  bottom: 5%;
  left: 15%;
  font-family: Bozon bold;
  font-size: 7rem;
  color: #fffcf2;
}

section.big_about {
  height: 180vh;
  background-color: #252422;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.big_about div.big_about_wrapper {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95%;
  width: 90%;
  margin: auto;
}

section.big_about div.big_about_wrapper div.big_about_img {
  width: 45%;
  height: 90%;
  background: url(../img/welding-2819144_1920.jpg);
  background-size: cover;
  background-position: 40% 20%;
  -webkit-box-shadow: 0 0 10px 20px #252422;
          box-shadow: 0 0 10px 20px #252422;
  background-repeat: no-repeat;
}

section.big_about div.big_about_wrapper div.p-wrapper {
  width: 45%;
  height: 90%;
  background-color: rgba(64, 61, 57, 0.5);
  overflow: hidden;
  font-family: Bozon book;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.big_about div.big_about_wrapper div.p-wrapper article.about_me p {
  font-size: 2rem;
  line-height: 2;
  padding: 3rem;
  width: 100%;
  color: #fffcf2;
}

section.big_about div.big_about_wrapper div.p-wrapper article.about_me ul {
  list-style: none;
  width: 80%;
}

section.big_about div.big_about_wrapper div.p-wrapper article.about_me ul li {
  position: relative;
  padding: 15px 0 15px 50px;
  display: block;
  font-size: 1.8rem;
  color: #fffcf2;
  text-align: left;
}

section.big_about div.big_about_wrapper div.p-wrapper article.about_me ul li::before {
  content: "";
  position: absolute;
  bottom: 14px;
  left: auto;
  height: 1px;
  width: 0;
  background-color: #EB5E28;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

section.big_about div.big_about_wrapper div.p-wrapper article.about_me ul li:hover::before {
  width: 50px;
}

header.gallery_header {
  height: 40vh;
  background-image: url(../img/dark-2600169_1920.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

header.gallery_header div.where_are_you {
  position: absolute;
  text-transform: capitalize;
  bottom: 5%;
  left: 15%;
  font-family: Bozon bold;
  font-size: 7rem;
  color: #fffcf2;
}

section.big_gallery {
  background-color: #fffcf2;
}

section.big_gallery div.big_gallery_wrapper {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100vh;
}

section.big_gallery div.big_gallery_wrapper nav.gallery_navigation {
  margin-top: 7em;
  width: 100%;
  height: 100px;
}

section.big_gallery div.big_gallery_wrapper nav.gallery_navigation p {
  width: 100%;
}

section.big_gallery div.big_gallery_wrapper nav.gallery_navigation ul {
  list-style-type: none;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.big_gallery div.big_gallery_wrapper nav.gallery_navigation ul li {
  width: 30%;
  height: 80%;
  text-align: center;
}

section.big_gallery div.big_gallery_wrapper nav.gallery_navigation ul li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #EB5E28;
  border: 1px solid white;
  border-radius: 5px;
  font-family: Bozon book;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

section.big_gallery div.big_gallery_wrapper nav.gallery_navigation ul li label:hover {
  background-color: #b44e20;
}

section.big_gallery div.big_gallery_wrapper section.single_categories_wrapper {
  background-color: #fffcf2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section.big_gallery div.big_gallery_wrapper section.single_categories_wrapper input {
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.big_gallery div.big_gallery_wrapper section.single_categories_wrapper div.category_wrapper {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.big_gallery div.big_gallery_wrapper section.single_categories_wrapper div.category_wrapper div {
  position: relative;
  margin: 30px 0;
  width: 28%;
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
}

section.big_gallery div.big_gallery_wrapper section.single_categories_wrapper div.category_wrapper div a img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.big_gallery div.big_gallery_wrapper section.single_categories_wrapper div.category_wrapper div a img:hover {
  width: 120%;
}

#radio1:checked ~ .bramy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#radio2:checked ~ .maszyny {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#radio3:checked ~ .inne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.services_header {
  height: 40vh;
  background-image: url(../img/worker-5736096_1920.jpg);
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: cover;
}

header.contact_header {
  height: 40vh;
  background-image: url(../img/worker-5736096_1920.jpg);
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */