section.information {
    width: 100%;
    background-color: rgb(167, 118, 118);

    div.information_wrapper {
        max-width: $desktop-breakpoint;
        margin: 0 auto;
        height: 30px;
        display: flex;
        justify-content: space-around;

        span {
            line-height: 30px;
            // font-size: 15px;
            font-size: clamp(12px, 1.05vw, 20px);
            color: white;
        }
    }
}