header.gallery_header {
    height: 40vh;
    background-image: url(../img/dark-2600169_1920.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;

    div.where_are_you {
        position: absolute;
        text-transform: capitalize;
        bottom: 5%;
        left: 15%;
        font-family: Bozon bold;
        font-size: clamp(5rem, 6vw, 7rem);
        color: $forth-color;
    }
}

section.big_gallery {
    background-color: $forth-color;

    div.big_gallery_wrapper {
        @include desktop-breakpoint-wrapper;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // background-color: #b44e20;
        min-height: 100vh;

        nav.gallery_navigation {
            // position: sticky;
            // top: 11vh;
            left: 0;
            // margin-top: 5em;
            width: 100%;
            height: 130px;
            padding: 20px;
            // box-sizing: content-box;
            background-color: $forth-color;
            z-index: 50;
            border-bottom: .1px solid rgba(220, 220, 220, 0.9);

            // p {
            //     width: 100%;
            // }

            ul {
                list-style-type: none;
                width: 60%;
                height: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
                align-items: center;

                // background-color: yellow;

                li {
                    width: 30%;
                    height: 80%;
                    text-align: center;

                    // background-color: violet;
                    &:checked {
                        background-color: red;
                    }

                    label {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        background-color: $element-color;
                        border: 1px solid white;
                        border-radius: 5px;
                        font-family: Bozon book;
                        // font-size: 2rem;
                        font-size: clamp(13px, 2vw, 20px);
                        color: white;
                        padding: 2px;
                        cursor: pointer;

                        // transition: 300ms;
                        &:hover {
                            background-color: #b44e20;
                        }

                        // &[for=radio1] {
                        //     background-color: #b44e20;
                        // }
                    }
                }
            }
        }

        section.single_categories_wrapper {
            // background-color: black;
            background-color: $forth-color;
            flex: 1;

            input {
                display: none;
                transition: 0.2s;
            }

            div.category_wrapper {
                display: none;
                justify-content: space-around;
                flex-wrap: wrap;
                align-items: center;
                align-content: center;
                transition: 0.2s;
                // background-color: blue;

                div {
                    position: relative;
                    margin: 30px 0;
                    width: 24%;
                    height: 200px;
                    overflow: hidden;
                    border-radius: 15px;

                    a {
                        img {
                            width: 120%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            transition: 0.2s;

                            &:hover {
                                width: 120%;
                            }
                        }
                    }
                }
            }

        }
    }
}

#radio1:checked~.bramy {
    display: flex;
}

#radio2:checked~.maszyny {
    display: flex;
}

#radio3:checked~.inne {
    display: flex;
}

// \/ zmiana siatki na 3 zdjecia w wierszu
@media (max-width: 1100px) {
    section.big_gallery {
        div.big_gallery_wrapper {
            section.single_categories_wrapper {
                div.category_wrapper {
                    div {
                        width: 30%;
                    }
                }
            }
        }
    }
}

// \/ zmiana siatki na 2 zdjęcia w wierszu
@media (max-width: 920px) {
    section.big_gallery {
        div.big_gallery_wrapper {
            section.single_categories_wrapper {
                div.category_wrapper {
                    div {
                        width: 45%;
                    }
                }
            }
        }
    }

}

@media(max-width: 768px) {
    section.big_gallery {
        div.big_gallery_wrapper {
            nav.gallery_navigation {
                height: 90px;
                padding: 15px;
            }
        }
    }
}

@media (max-width: 635px) {
    section.big_gallery {
        div.big_gallery_wrapper {
            nav.gallery_navigation {
                height: 110px;
                padding: 5px;
            }

            section.single_categories_wrapper {
                div.category_wrapper {
                    div {
                        height: 175px;
                        width: 47%;

                        a {
                            img {
                                width: 125%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 490px) {
    section.big_gallery {
        div.big_gallery_wrapper {
            nav.gallery_navigation {
                height: 100px;
                padding: 7.5px;
            }

            section.single_categories_wrapper {
                div.category_wrapper {
                    div {
                        height: 150px;
                        width: 45%;

                        a {
                            img {
                                width: 125%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    section.big_gallery {
        div.big_gallery_wrapper {
            nav.gallery_navigation {
                height: 100px;
                padding: 7.5px;

                ul {
                    width: 80%;
                    justify-content: space-between;

                    li {
                        width: 30%;
                    }
                }
            }

            section.single_categories_wrapper {
                div.category_wrapper {
                    div {
                        height: 150px;
                        width: 80%;

                        a {
                            img {
                                width: 125%;
                            }
                        }
                    }
                }
            }
        }
    }
}