header.about_header {
    height: 40vh;
    background-image: url(../img/railing-3855288_1280.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;

    div.where_are_you {
        position: absolute;
        bottom: 5%;
        left: 15%;
        font-family: Bozon bold;
        font-size: 7rem;
        color: $forth-color;
    }
}

section.big_about {

    height: 180vh;
    background-color: $logo-color;
    display: flex;

    div.big_about_wrapper {
        @include desktop-breakpoint-wrapper;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 95%;
        width: 90%;
        margin: auto;

        div.big_about_img {
            width: 45%;
            height: 90%;
            background: url(../img/welding-2819144_1920.jpg);
            background-size: cover;
            background-position: 40% 20%;
            box-shadow: 0 0 10px 20px $logo-color;
            background-repeat: no-repeat;
        }

        div.p-wrapper {
            width: 45%;
            height: 90%;
            background-color: rgba($fifth-color, 0.5);
            overflow: hidden;
            font-family: Bozon book;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;

            article.about_me {



                p {
                    font-size: 2rem;
                    line-height: 2;
                    padding: 3rem;
                    width: 100%;
                    color: $forth-color;
                }

                ul {
                    list-style: none;
                    width: 80%;


                    li {
                        position: relative;
                        padding: 15px 0 15px 50px;
                        display: block;
                        font-size: 1.8rem;
                        color: $forth-color;
                        text-align: left;

                        &::before {
                            content: "";
                            position: absolute;
                            bottom: 14px;
                            left: auto;
                            height: 1px;
                            width: 0;
                            background-color: $element-color;
                            transition: .2s ease-in-out;
                        }

                        &:hover::before {
                            width: 50px;
                        }

                        // &:nth-child(1) {
                        //     margin-left: 0;
                        // }

                        // &:nth-child(2) {
                        //     margin-left: 25px;
                        // }

                        // &:nth-child(3) {
                        //     margin-left: 50px;
                        // }

                        // &:nth-child(4) {
                        //     margin-left: 75px;
                        // }

                        // &:nth-child(5) {
                        //     margin-left: 100px;
                        // }
                    }
                }
            }
        }
    }
}