header.about_header {
    height: 40vh;
    background-image: url(../img/railing-3855288_1280.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;

    div.where_are_you {
        position: absolute;
        bottom: 5%;
        left: 15%;
        font-family: Bozon bold;
        font-size: clamp(5rem, 6vw, 7rem);
        color: $forth-color;
    }
}

section.big_about {

    // height: 180vh;
    height: clamp(1000px, 180vh, 2000px);
    background-color: $logo-color;
    display: flex;

    div.big_about_wrapper {
        @include desktop-breakpoint-wrapper;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 95%;
        width: 90%;
        margin: auto;

        &>* {
            height: 95%;
        }

        div.big_about_img {
            width: 45%;
            // min-height: 90%;
            background: url(../img/welding-2819144_1920.jpg);
            background-size: cover;
            background-position: 40% 20%;
            box-shadow: 0 0 10px 20px $logo-color;
            background-repeat: no-repeat;
        }

        div.p-wrapper {
            width: 45%;
            // height: 90%;
            background-color: rgba($fifth-color, 0.5);
            overflow: hidden;
            font-family: Bozon book;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;

            article.about_me {



                p {
                    // font-size: 2rem;
                    font-size: clamp(1.5rem, 2vw, 2rem);
                    line-height: 2;
                    padding: 3rem;
                    width: 100%;
                    color: $forth-color;
                }

                ul {
                    list-style: none;
                    width: 80%;


                    li {
                        position: relative;
                        padding-left: 50px;
                        padding-top: clamp(3px, 3vw, 15px);
                        padding-bottom: clamp(3px, 3vw, 15px);
                        // padding: 15px 0 15px 50px;
                        display: block;
                        // font-size: 1.8rem;
                        font-size: clamp(1.3rem, 2.5vw, 1.8rem);
                        color: $forth-color;
                        text-align: left;

                        &::before {
                            content: "";
                            position: absolute;
                            bottom: clamp(3px, 3vw, 15px);
                            left: auto;
                            height: 1px;
                            width: 0;
                            background-color: $element-color;
                            transition: .2s ease-in-out;
                        }

                        &:hover::before {
                            width: 50px;
                        }

                        // &:nth-child(1) {
                        //     margin-left: 0;
                        // }

                        // &:nth-child(2) {
                        //     margin-left: 25px;
                        // }

                        // &:nth-child(3) {
                        //     margin-left: 50px;
                        // }

                        // &:nth-child(4) {
                        //     margin-left: 75px;
                        // }

                        // &:nth-child(5) {
                        //     margin-left: 100px;
                        // }
                    }
                }
            }
        }
    }
}

@media (max-width: 1165px) {
    section.big_about {
        // background-color: red;

        div.big_about_wrapper {
            // justify-content: center;
            display: block;
            position: relative;

            &>* {
                width: 70%;
            }

            div.big_about_img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: inherit;
                transform: translate(-50%, -50%);
                filter: opacity(30%);
            }

            div.p-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: inherit;
                z-index: 5;
                background-color: transparent;

                article.about_me {

                    // p {
                    // }
                    ul {
                        margin: 0 auto;

                        li {
                            padding-left: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}