header.services_header {
    height: 40vh;
    background-image: url(../img/worker-5736096_1920.jpg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: cover;
}

// main.services {
//     @include desktop-breakpoint-wrapper;
//     height: 100vh;
//     font-size: 2rem;

//     p {
//         padding: 2rem;

//         ul {
//             list-style-type: none;

//             li {
//                 font-size: 3rem;
//             }
//         }
//     }
// }