footer {
    width: 100%;
    height: clamp(25vw, 30vw, 35vw);
    max-height: 350px;
    background-color: $third-color;

    div.footer_wrapper {

        @include desktop-breakpoint-wrapper;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;

        &>* {
            width: 50%;
            color: $fifth-color;
        }

        div {
            height: 90%;
            text-align: center;
        }

        div.firm_data {
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 2;

            p {
                font-size: clamp(14px, 2vw, 20px);
            }

            p.firm_name {
                font-family: Bozon bold;
            }

            button.google_maps {
                margin: 5px auto;
                width: $button-width;
                height: 45px;
                cursor: pointer;
                border: 2px solid $fifth-color;
                border-radius: 5px;
                background-color: $fifth-color;
                transition: 0.2s;

                &:hover {
                    background-color: #57534e;
                    border-color: #57534e;
                }

                a {
                    font-family: Bozon;
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    color: $third-color;
                }
            }
        }

        div.separator {
            height: 90%;
            width: 1px;
            background-color: $fifth-color;
            // justify-self: center;
            align-self: center;
        }

        div.contact_data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: flex-start;

            p {
                font-family: Bozon bold;
                font-size: clamp(14px, 2vw, 20px);
                line-height: 2;
                align-items: left;
            }
        }

    }

    p.real_footer {
        position: relative;
        width: 100%;
        padding: 10px;
        text-align: center;
        font-family: Bozon;
        color: $fifth-color;
        font-size: clamp(12px, 2vw, 20px);
        background-color: $third-color;

        &::before {
            content: '';
            width: 90%;
            position: absolute;
            top: 0;
            left: 5%;
            height: 1px;
            background-color: $fifth-color;

        }

        a {
            font-family: Bozon;
            color: $fifth-color;
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 350px) {
    footer {
        height: 70vh;

        div.footer_wrapper {
            max-height: unset;
            flex-direction: column;

            &>* {
                height: 33%;
            }

            div.firm_data {
                button.google_maps {
                    height: 30px;
                }
            }

            div.separator {
                height: 1px;
                width: 90%;
                background-color: $fifth-color;
                // justify-self: center;
                align-self: center;
            }

            div.contact_data {
                // position: relative;
                width: 100%;
            }
        }

        // p.real_footer {}
    }
}