section.little_about {
    width: 100%;
    min-height: clamp(40vh, 80vh, 100vh);
    // padding-bottom: clamp(50px, 5vh, 10vh);
    background-color: $forth-color;

    div.little_about_wrapper {
        @include desktop-breakpoint-wrapper;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        &>* {
            width: 40%; //dla mediaqueries malych wyswietlaczy zmieniac, zeby <p> bylo na srodku
            height: 80%;
        }

        header.section_content {
            // width: 100%;
            // text-align: center;

            p {
                width: unset;
                // font-family: Bozon book;
                // line-height: 2.3;
                // // font-size: 80px;
                // font-size: clamp(50px, 7vw, 80px);
                // color: $logo-color;
                @include little_header_p;
            }
        }
    }

    div.little_about_experience {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        span {
            background-image: url(../img/welding-67640_640.jpg);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: cover;
            background-repeat: no-repeat;
            font-family: Bozon-black;
            display: block;
            text-align: center;
            // font-size: 450px;
            font-size: clamp(170px, 40vw, 450px);
            line-height: .9;
            letter-spacing: 5px;
            color: transparent;


            span {
                font-family: Bozon bold;

                text-align: center;
                font-size: clamp(25px, 4vw, 40px);
                text-align: center;
                color: $forth-color;
            }
        }
    }

    button.browse_about {
        margin-top: 50px;
        margin-bottom: 50px;
        // width: 320px;
        width: $button-width;
        height: 60px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: $element-color;
        cursor: pointer;

        &:hover,
        &:active {
            background-color: #b44e20;
        }

        a {
            font-family: Bozon book;
            display: block;
            text-decoration: none;
            font-size: $button-fz;
            // font-size: 20px;
            color: white;
        }
    }
}

@media (max-width: $breakpoint_768) {
    section.little_about {

        div.little_about_wrapper {
            flex-direction: column;
        }
    }
}

@media (max-width: 630px) {
    section.little_about {
        div.little_about_wrapper {

            header.section_content {
                width: 100%;
                text-align: center;
                // p {
                //     // width: 90%;
                //     text-align: center;
                // }
            }
        }
    }
}

// @media (max-width: 350px) {
//     section.little_about {
//         div.little_about_wrapper {

//             header.section_content {}
//         }
//     }
// }