nav.main_nav {
    width: 100%;
    background-color: #fff;
    border-bottom: .1px solid rgba(220, 220, 220, 0.9);
    z-index: 100;

    div.main_nav_wrapper {
        max-width: $desktop-breakpoint;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        div.logo {
            // margin: 20px;
            margin: clamp(10px, 1.1vw, 25px);

            a {
                text-decoration: none;

                span {
                    // font-size: 50px;
                    font-size: clamp(30px, 4.5vw, 50px);
                    color: $logo-color;
                    font-family: 'Yeseva One', cursive;
                    text-decoration: none;
                }
            }
        }

        button.hamburger {
            display: none;

            &.show_button {
                display: block;
            }
        }

        ul {
            width: 70%;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            transition: 0.5s;

            li {
                width: 25%;


                &:nth-child(1) {
                    a {
                        color: $element-color;
                        text-align: center;
                        //padding: 3px; //dodac w mediaqueries dla malych wyswietlaczy to sie bedzie rowno wyswietlac
                    }
                }

                a {
                    position: relative;
                    padding: 10px;
                    // font-size: 18px;
                    font-size: clamp(13px, 2vw, 18px);
                    text-decoration: none;
                    text-align: center;
                    color: $nav-links-color;
                    transition: .2s;

                    &:hover,
                    &:active {
                        color: $element-color;
                    }
                }
            }
        }
    }
}