//fonts
//font-family: 'Yeseva One', cursive;
@font-face {
    font-family: Bozon;
    src: url(../fonts/Bozon-Regular.otf);
}

@font-face {
    font-family: Bozon bold;
    src: url(../fonts/Bozon-Bold.otf);
}

@font-face {
    font-family: Bozon book;
    src: url(../fonts/Bozon-Book.otf);
}

@font-face {
    font-family: Bozon-black;
    src: url(../fonts/Bozon-Black.otf);
}

//breakpoints:
$desktop-breakpoint: 1300px;
$tablet-breakpoint: 1100px;
$small_tablet-breakpoint: 900px;
$smartphone-breakpoint: 768px;
$smartphone-590width-breakpoint: 590px;



//colors:
$logo-color: #252422;
// $logo-color: #07135e; przykład z wiztyówki
// $logo-color: #062f60; przykład z wiztyówki
$nav-links-color: #252422;
$element-color: #EB5E28;
$third-color: #ccc5b9;
// $third-color: #062f60; przykład z wiztyówki
// $forth-color: #bbf0f9; przykład z wiztyówki
$forth-color: #fffcf2;
$fifth-color: #403d39;


//mixins and classess:
.fixed {
    position: sticky;
    top: 0;
    left: 0;
    // height: 100px;
    transition: 0.5s;
}

@mixin desktop-breakpoint-wrapper {
    max-width: $desktop-breakpoint;
    margin: 0 auto;
    height: 100%;
}

$button-width: clamp(150px, 40vw, 320px);
$button-fz: clamp(16px, 3vw, 26px);

@mixin little_header_p {
    font-family: Bozon book;
    line-height: 2.3;
    font-size: clamp(50px, 7vw, 80px);
    color: $logo-color;
}